body {
    background: #f3f3f3;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.float-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
}
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 48px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 48px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.1);
}
.page-body {
    padding-top: 48px;
}
.card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.card-header {
    height: 48px;
    padding: 0 16px;
    line-height: 48px;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}
.card-body {
    padding: 16px;
}
.question-list {
    max-width: 694px;
    margin: 0 auto;
    background-color: #fff;
    .question-item {
        position: relative;
        padding: 16px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
    }
    .title {
        display: block;
        margin-bottom: 16px;
        font-size: 18px;
        color: #333;
        font-weight: bold;
        &:hover {
            color: #4285f4;
        }
    }
    .meta-list {
        display: flex;
        color: #999;
    }
    .user-name {
        margin-right: 16px;
    }
    .answer-count {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}
.page-content {
    @include clearfix;
}
.page-main {
    max-width: 100%;
    float: left;
    margin-right: 8px;
    background-color: #fff;
    border: 1px solid #eee;
    .header {
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 16px;
        border-bottom: 1px solid #eee;
    }
}
.page-side {
    width: 296px;
    float: left;
}


.yui-page-side {
    background-color: #fff;
}
.common-container {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px 16px 80px 16px;
  }